.env
.build

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.tfvars
*.tfvars.json
!*.tfvars.example

# CLI configs
.terraformrc
terraform.rc

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
